:root {
  /* ---------------------------------------------------------------------------
  color
  --------------------------------------------------------------------------- */
  --color-grease: 132deg 47% 10%;
  --color-marigold: 45deg 100% 50%;

  /* semantic color */
  --color-text: var(--color-grease);
  --color-sheet: var(--color-marigold);

  @media (--dark) {
    --color-text: var(--color-marigold);
    --color-sheet: var(--color-grease);
  }

  /* color opacity */
  --color-alpha: 100%;
  --opacity-text: 100%;
  --opacity-sheet: 100%;
  --opacity-border: 100%;

  /* ---------------------------------------------------------------------------
  spacing
  --------------------------------------------------------------------------- */
  --space-scale: 2;
  --space-base-sm: 2rem;
  --space-base: max(1.5rem, min(calc(0.5rem + 1.5vw), 3rem));
  --space-xxs: calc(var(--space-xs) / var(--space-scale));
  --space-xs: calc(var(--space-sm) / var(--space-scale));
  --space-sm: calc(var(--space-base-sm) / var(--space-scale));
  --space-md: var(--space-base);
  --space-lg: calc(var(--space-md) * var(--space-scale));
  --space-xl: calc(var(--space-lg) * var(--space-scale));
  --space-xxl: calc(var(--space-xl) * var(--space-scale));
  --space-xxxl: calc(var(--space-xxl) * var(--space-scale));
  --space-flex: clamp(12rem, 20vw, 24rem);

  /* ---------------------------------------------------------------------------
  typography
  --------------------------------------------------------------------------- */

  /* font stacks */
  --font-main: "Sono", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* font weight */
  --font-weight: 300;
  --font-shape: 2;
  --font-mono: 0;

  /* font width */
  --font-width-sm: 75;
  --font-width-md: 100;
  --font-width-lg: 125;
  --font-width: var(--font-width-md);

  /* font size */
  --size-base: max(1.8em, min(calc(0.5em + 1vw), 2.4em));
  --size-scale-sm: 1.2;
  --size-scale-lg: 1.333;
  --size-xxxs: calc(var(--size-xxs) / var(--size-scale-sm));
  --size-xxs: calc(var(--size-xs) / var(--size-scale-sm));
  --size-xs: calc(var(--size-sm) / var(--size-scale-sm));
  --size-sm: calc(var(--size-md) / var(--size-scale-sm));
  --size-md: 1em;
  --size-lg: calc(var(--size-md) * var(--size-scale-lg));
  --size-xl: calc(var(--size-lg) * var(--size-scale-lg));
  --size-xxl: calc(var(--size-xl) * var(--size-scale-lg));
  --size-xxxl: calc(var(--size-xxl) * var(--size-scale-lg));
  --size-xxxxl: calc(var(--size-xxxl) * var(--size-scale-lg));

  /* measure */
  --measure-xs: 15ch;
  --measure-sm: 30ch;
  --measure-md: 45ch;
  --measure-lg: 60ch;
  --measure-xl: 75ch;

  /* line height */
  --leading-base: 1.1;
  --leading-scale: 1.25;
  --leading-xs: calc(var(--leading-sm) / var(--leading-scale));
  --leading-sm: var(--leading-base);
  --leading-md: calc(var(--leading-sm) * var(--leading-scale));
  --leading-lg: calc(var(--leading-md) * var(--leading-scale));
  --leading-fluid: calc(0.75rem + 1.25em);

  /* letter spacing */
  --tracking-sm: -0.025em;
  --tracking-md: 0;
  --tracking-lg: 0.1em;
  --tracking-xl: 0.3em;

  /* ---------------------------------------------------------------------------
  borders
  --------------------------------------------------------------------------- */

  /* border radius */
  --border-radius-0: 0;
  --border-radius-sm: 0.3rem;
  --border-radius-md: 0.6rem;
  --border-radius-lg: 0.9rem;

  /* border weight */
  --border-weight-sm: 0.1rem;
  --border-weight-md: 0.2rem;
  --border-weight-lg: 0.3rem;

  /* ---------------------------------------------------------------------------
  z-index layers
  --------------------------------------------------------------------------- */
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;

  /* ---------------------------------------------------------------------------
  shadows
  --------------------------------------------------------------------------- */
  --shadow-color: 220 3% 15%;
  --shadow-sm: 0 1px 2px -1px hsl(var(--shadow-color) / 1%);
  --shadow-md:
    0 -1px 3px 0 hsl(var(--shadow-color) / 2%),
    0 1px 2px -5px hsl(var(--shadow-color) / 2%),
    0 2px 5px -5px hsl(var(--shadow-color) / 4%),
    0 4px 12px -5px hsl(var(--shadow-color) / 5%),
    0 12px 15px -5px hsl(var(--shadow-color) / 7%);
  --shadow-lg:
    0 -1px 2px 0 hsl(var(--shadow-color) / 2%),
    0 2px 1px -2px hsl(var(--shadow-color) / 3%),
    0 5px 5px -2px hsl(var(--shadow-color) / 3%),
    0 10px 10px -2px hsl(var(--shadow-color) / 4%),
    0 20px 20px -2px hsl(var(--shadow-color) / 5%),
    0 40px 40px -2px hsl(var(--shadow-color) / 7%);
}
