/* ----------------------------------------------------------------------------
element styles
---------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsl(var(--color-text) / var(--opacity-text));
  font-variation-settings: "wght" var(--font-weight), "MONO" var(--font-mono);

  &::selection {
    color: hsl(var(--color-sheet) / var(--opacity-text));
    background-color: hsl(var(--color-text) / var(--opacity-sheet));
  }
  
  &:focus-visible {
    outline: var(--border-weight-md) hsl(var(--color-accent)) solid;
    outline-offset: var(--border-weight-md);
  }
  
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

html {
  min-height: 100dvh;
  background-color: hsl(var(--color-sheet) / 100%);
  accent-color: hsl(var(--color-text));
  overflow-x: clip;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100dvh;
  overflow-x: clip;
  font-family: var(--font-main);
  font-size: var(--size-base);
  line-height: var(--leading-fluid);
  background-color: hsl(var(--color-sheet) / 100%);
}

main {
  z-index: 2;
  overflow-y: clip;
}

animate-on-scroll {
  display: contents;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, pre, blockquote) {
  width: 100%;
  margin-inline: auto;
  line-height: var(--leading-fluid);
  overflow-wrap: break-word;
}

h1 {
  --font-weight: 800;

  margin-block: var(--space-xl) var(--space-md);
  font-size: var(--size-xxl);
  letter-spacing: var(--tracking-sm);
}

h2 {
  --font-weight: 800;

  margin-block: var(--space-md) var(--space-sm);
  padding-block-start: var(--space-sm);
  font-size: var(--size-xl);
}

h3 {
  --font-weight: 700;

  margin-block: var(--space-md) 0;
  font-size: var(--size-lg);
  
  h2 + & {
    margin-block: 0;
  }
}

:where(h4, h5, h6) {
  --font-weight: 600;

  margin-block: var(--space-sm) 0;
  font-size: var(--size-md);
  /* text-transform: uppercase; */
}

:where(p, ul, ol, dl) {
  margin-block: 0 var(--space-sm);
  margin-inline: 0;
}

:where(li ul, li ol) {
  margin-block: var(--space-sm) 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

li {
  position: relative;

  &:where(li + li) {
    margin-block-start: var(--space-xs);
  }

  & :where(ul, ol) {
    font-size: var(--size-md);
  }
}

b,
strong {
  --font-weight: 700;
}

i,
em {
  font-style: italic;
}

small {
  font-size: var(--type-sm);
}

a,
a:visited {
  color: hsl(var(--color-text) / var(--opacity-text));
  text-decoration-thickness: var(--border-weight-sm);
  text-underline-offset: 0.2rem;
  transition: text-decoration-thickness 0.1s ease;
}

a:hover {
  text-decoration-thickness: var(--border-weight-md);
  text-decoration-color: hsl(var(--color-accent) / var(--opacity-text));
}

pre {
  --bg-color: var(--color-accent);
  --alpha: 10%;
  --opacity-border: 5%;

  margin-block: 0 var(--space-sm);
  margin-inline: calc(var(--space-sm) * -1);
  padding: var(--space-sm);
  line-height: var(--leading-md);
  overflow: auto;
  border-radius: var(--border-radius-sm);
  background-color: hsl(var(--bg-color) / var(--alpha));
  border: var(--border-weight-sm) solid hsl(var(--color-text) / var(--opacity-border));
}

code {
  --bg-color: var(--color-accent);
  --alpha: 20%;
  --opacity-border: 10%;

  font-family: var(--font-code);
  padding: 0.1rem var(--space-xxs);
  font-size: 90%;
  border-radius: var(--border-radius-sm);
  background-color: hsl(var(--bg-color) / var(--alpha));
  border: var(--border-weight-sm) solid hsl(var(--color-text) / var(--opacity-border));
  -webkit-box-decoration-break: clone;

  :is(pre) & {
    border: none;
    background-color: transparent;
    padding-block: 0;
    padding-inline: 0;
    overflow: auto;
  }
}

blockquote {
  margin: var(--space-md) 0;
  font-size: var(--size-md);
  font-style: italic;
}

hr {
  width: 100%;
  margin-block: var(--space-xl);
  border: 0;
  border-block-start: var(--border-weight-sm) solid hsl(var(--color-text) / var(--opacity-border));
  filter: blur(0.1rem);
}

:where(img, embed, object, svg, video) {
  max-width: 100%;
  height: auto;
  line-height: var(--leading-fluid);
}

:where(button, input, select, option, textarea) {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(input:not([type="range"], [type="button"], [type="submit"]), select, textarea) {
	--opacity-sheet: 5%;
	--opacity-border: 50%;
	
	background-color: hsl(var(--color-text) / var(--opacity-sheet));
	border-radius: var(--border-radius-lg);
	border: var(--border-weight-md) solid hsl(var(--color-text) / var(--opacity-border));
	padding: var(--space-sm);
	margin-block: 0 var(--space-md);
}

[disabled] {
  opacity: 0.5;
}

fieldset {
  border-radius: var(--border-radius);
}

optgroup {
  font-weight: var(--bold-text);
}

input[type="checkbox"], input[type="radio"] {
  scale: 1.5;
}
