/* ----------------------------------------------------------------------------
element styles
---------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsl(var(--color-text) / var(--opacity-text));
  font-variation-settings: "wght" var(--font-weight), "wdth" var(--font-width), "MONO" var(--font-mono), "ELSH" var(--font-shape);

  &::selection {
    color: hsl(var(--color-sheet) / var(--opacity-text));
    background-color: hsl(var(--color-text) / var(--opacity-sheet));
  }
}

html {
  min-height: 100dvh;
  background-color: hsl(var(--color-sheet) / 100%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100dvh;
  overflow-x: clip;
  font-family: var(--font-main);
  font-size: var(--size-base);
  line-height: var(--leading-fluid);
  background-color: hsl(var(--color-sheet) / 100%);
}

animate-on-scroll {
  display: contents;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, pre, blockquote) {
  margin-inline: 0;
  line-height: var(--leading-fluid);
}

h1 {
  --font-weight: 300;

  margin-block: var(--space-xl) var(--space-md);
  font-size: var(--size-xxl);
  letter-spacing: var(--tracking-sm);
}

h2 {
  --font-weight: 500;
  --font-width: var(--font-width-sm);

  margin-block: var(--space-lg) var(--space-sm);
  font-size: var(--size-xl);
  text-transform: uppercase;
  border-block-end: var(--border-weight-sm) solid hsl(var(--color-text) / var(--opacity-border));
}

h3 {
  --font-weight: 600;
  --font-width: var(--font-width-sm);

  margin-block: var(--space-md) 0;
  font-size: var(--size-lg);
}

:where(h4, h5, h6) {
  --font-weight: 400;
  --font-width: var(--font-width-sm);

  margin-block: var(--space-sm) 0;
  font-size: var(--text-md);
  text-transform: uppercase;
}

:where(p, ul, ol, dl) {
  margin-block: 0 var(--space-sm);
}

ul {
  list-style-position: inside;
  list-style-type: square;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

li {
  position: relative;

  &:where(li + li) {
    margin-block: var(--space-xs) 0;
  }

  & :where(ul, ol) {
    margin-inline-start: var(--space-md);
    font-size: var(--size-md);
  }
}

b,
strong {
  --font-weight: 500;
}

i,
em {
  font-style: italic;
}

small {
  font-size: var(--type-sm);
}

a,
a:visited {
  color: hsl(var(--color-text) / var(--opacity-text));
  text-decoration-thickness: var(--border-weight-sm);
  transition: text-decoration-thickness 0.1s ease;
}

a:hover {
  text-decoration-thickness: var(--border-weight-md);
}

code {
  --bg-color: var(--color-text);
  --alpha: 10%;

  font-family: var(--font-main);
  padding: var(--space-xs);
  padding-block-start: calc(var(--space-xxs) * 1.375);
  border-radius: var(--border-radius-sm);
  background-color: hsl(var(--bg-color) / var(--alpha));
}

blockquote {
  margin: var(--space-lg) 0;
  font-size: var(--size-md);
  font-style: italic;
}

:where(img, embed, object, svg, video) {
  max-width: 100%;
  height: auto;
  line-height: var(--leading-fluid);
}

hr {
  width: 100%;
  margin-block: var(--space-xl);
  border: 0;
  border-block-start: var(--border-weight-sm) solid hsl(var(--color-text) / var(--opacity-border));
}
