:where(input:not([type="range"], [type="button"], [type="submit"]), select, textarea) {
	--opacity-sheet: 5%;
	--opacity-border: 50%;
	
	background-color: hsl(var(--color-text) / var(--opacity-sheet));
	border-radius: var(--border-radius-lg);
	border: var(--border-weight-md) solid hsl(var(--color-text) / var(--opacity-border));
	padding: var(--space-sm);
	margin-block: 0 var(--space-md);
}

[disabled] {
  opacity: 0.5;
}

fieldset {
  border-radius: var(--border-radius);
}

optgroup {
  font-weight: var(--bold-text);
}

input[type="checkbox"], input[type="radio"] {
  scale: 1.5;
}
