/* ----------------------------------------------------------------------------
popovers, tooltips, menus, dialogs
---------------------------------------------------------------------------- */

dialog {
	max-width: var(--line-length-lg);
	margin-block: var(--space-xs);
	margin-inline: auto;
	padding-block: var(--space-md);
	padding-inline: var(--space-md);
	overflow: visible;
	background-color: var(--color-bg-dark);
	border-radius: var(--border-radius-lg);
	border: var(--border-width-sm) solid
		oklch(from var(--color-border) l c h / 50%);
	box-shadow: var(--shadow-lg);
	transition: opacity 0.1s, scale 0.1s, overlay 0.1s allow-discrete, display
		0.1s allow-discrete;
	opacity: 0;
	scale: 0.9;
	position: fixed;
	inset-block-start: 50dvh;
	translate: 0 -50%;

	&:focus-visible {
		outline: none;
	}

	&::backdrop {
		transition: all 0.1s ease-in-out;
		backdrop-filter: blur(0.1rem);
	}

	&:popover-open {
		opacity: 1;
		scale: 1;
	}
}

@starting-style {
	dialog:popover-open {
		opacity: 0;
		scale: 0.9;
	}
}

[role="tooltip"] {
	position: absolute;
	position-visibility: always;
	top: inherit;
	bottom: anchor(top);
	left: anchor(left);
	padding-block: var(--space-xs);
	padding-inline: var(--space-sm);
	margin-block: var(--space-xs);
	position-try-fallbacks: flip-block, flip-inline;
	position-try-order: most-block-size;
	background-color: var(--color-bg-dark);
	border: var(--border-width-sm) solid
		oklch(from var(--color-border) l c h / 50%);
	border-radius: var(--border-radius-lg);
	box-shadow: var(--shadow-lg);
	font-size: var(--font-size-sm);
}

[popover] {
	overflow: visible;

	&:not(:popover-open) {
		display: none !important;
	}
}

popover-menu {
	position: relative;

	& [hidden] {
		display: none !important;
	}
}

[role="menu"] {
	margin-block: var(--space-xs);
	margin-inline: calc(var(--space-xxs) * -1);
	inline-size: max-content;
	max-inline-size: 24ch;
	min-inline-size: 16ch;
	display: flex;
	flex-direction: column;
	gap: var(--space-xxs);
	border: none;
	background-color: transparent;

	&:is(ul), & > ul {
		display: flex;
		flex-direction: column;
		gap: var(--space-xxs);
		padding-block: var(--space-xxs);
		padding-inline: var(--space-xxs);
		border-radius: var(--border-radius-md);
		background-color: var(--color-bg);
		border: var(--border-width-sm) solid
			oklch(from var(--color-border) l c h / 50%);
		box-shadow: var(--shadow-lg);
		list-style: none;
	}

	&:not([popover]) {
		position: absolute;

		&:not([hidden]) {
			display: flex;
		}

		&.anchor-right {
			inset-inline-end: 0;
		}
	}

	&[popover] {
		position-visibility: anchors-visible;
		position-area: y-end span-x-end;
		position-try-fallbacks: y-end span-x-start, flip-block, flip-inline;

		&.anchor-right {
			position-area: y-end span-x-start;
			position-try-fallbacks: y-end span-x-end, flip-block, flip-inline;
		}
	}
}
