:where(.button, button, input[type="submit"]) {
  --button-text: var(--color-text);
  --button-bg: oklch(from var(--color-bg) l c h / 0%);
  --button-border: var(--color-text);
  --button-icon: var(--color-text);

  color: var(--button-text);
  background-color: var(--button-bg);
  border: var(--border-width-md) solid var(--button-border);
  border-radius: var(--border-radius-sm);
  display: inline-flex;
  align-items: center;
  gap: var(--space-xxs);
  padding-block: var(--space-xs);
  padding-inline: var(--space-md);
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  line-height: var(--line-height-sm);
  text-box: trim-both cap alphabetic;

  &:visited {
    color: var(--button-text);
  }

  @media (--hover) {
    &:hover {
      --button-text: var(--color-bg);
      --button-bg: var(--color-text);

      cursor: pointer;
    }
  }

  & svg {
    inline-size: 1em;
    block-size: auto;
  }

  &.--fill\@sm {
    @media (--sm) {
      inline-size: 100%;
    }
  }

  &.--tactile {
    box-shadow: inset 0 0 0 1px light-dark(
      oklch(from var(--primary) var(--0) / 30%),
      oklch(from var(--neutral) var(--0) / 30%)
    );
  }

  &.--inverted {
    --button-text: var(--color-bg);
    --button-bg: var(--color-text);
    --button-border: var(--color-text);

    @media (--hover) {
      &:hover {
        --button-text: var(--color-bg);
        --button-bg: var(--color-focus);
        --button-border: var(--color-focus);
      }
    }
  }

  &.--primary {
    --button-text: var(--color-focus);
    --button-border: var(--color-focus);

    @media (--hover) {
      &:hover {
        --button-bg: var(--color-focus);
        --button-text: var(--color-bg);
      }
    }
  }

  &.--text-only {
    padding-inline: 0;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;

    @media (--hover) {
      &:hover {
        color: var(--button-border);
        border-block-end-color: var(--button-border);
      }
    }
  }

  &[aria-current] {
    &:not(:hover) {
      opacity: 0.5;
    }
  }
}
