:where(.button, button, input[type="submit"]) {
  --button-text: var(--color-text);
  --button-bg: var(--color-bg);
  --button-border: var(--button-text);
  --button-icon: var(--button-text);

  color: var(--button-text);
  background-color: var(--button-bg);
  border: var(--border-width-md) solid var(--button-border);
  border-radius: var(--border-radius-xl);
  display: inline-flex;
  align-items: center;
  gap: var(--space-xxs);
  padding-block: var(--space-xs);
  padding-inline: var(--space-sm);
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  line-height: var(--line-height-sm);
  text-box: trim-both cap alphabetic;

  &:visited {
    color: var(--button-text);
  }

  @media (--hover) {
    &:hover {
      --button-text: var(--color-bg);
      --button-bg: var(--color-text);
      --button-border: var(--button-bg);

      cursor: pointer;
    }
  }

  & svg {
    block-size: 1em;
    inline-size: auto;
  }

  &.--tactile {
    &:not(:focus-visible) {
      outline: var(--border-width-md) solid light-dark(
        oklch(from var(--neutral) 100% c h / 20%),
        oklch(from var(--neutral) 0% c h / 20%)
      );
      outline-offset: calc(var(--border-width-md) * -2);
    }
  }

  &.--fill {
    color: var(--button-bg);
    background-color: var(--button-text);
    border-color: var(--button-text);

    @media (--hover) {
      &:hover {
        color: var(--button-text);
        border-color: var(--button-bg);
        background-color: oklch(from var(--button-bg) l c h / 75%);
      }
    }
  }

  &.--primary {
    --button-text: var(--color-accent);

    @media (--hover) {
      &:hover {
        --button-bg: var(--color-accent);
        --button-text: var(--color-bg);
      }
    }
  }

  &.--secondary {
    --button-text: var(--color-link);

    @media (--hover) {
      &:hover {
        --button-bg: var(--color-link);
        --button-text: var(--color-bg);
      }
    }
  }

  &.--simple {
    padding-inline: 0;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;

    @media (--hover) {
      &:hover {
        color: var(--button-border);
        border-block-end-color: var(--button-border);
      }
    }
  }

  &.--subtle {
    border-width: var(--border-width-sm);
    background-color: var(--color-bg);
    --button-border: oklch(from var(--color-border) l c h / 50%);

    @media (--hover) {
      &:hover {
        color: var(--button-bg);
        background-color: var(--color-bg-dark);
      }
    }
  }

  &[aria-current] {
    &:not(:hover) {
      opacity: 0.5;
    }
  }

  &.--point-left::before {
    content: "";
    inline-size: 1em;
    block-size: 1em;
    scale: 0.9;
    background-color: currentColor;
    clip-path: var(--shape-chevron);
    rotate: 180deg;
  }
}
