/* ----------------------------------------------------------------------------
the page scroll element created by has-scrolled.js
---------------------------------------------------------------------------- */

.scroll-sentinel {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  inset-block-start: 0;
  inset-inline-start: 0;
}
