small-details {
  display: contents;

  & details {
    @media (--md) {
      &:focus {
        outline: none;
      }
    }
  }

  & summary {
    /* padding-block: 0 var(--space-sm); */

    @media (--sm) {
      padding-block: var(--space-sm);
    }

    @media (--md) {
      pointer-events: none;

      &::before {
        content: none;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

