---
title: Kitchen sink
description: All of the default elements in Grease.
layout: page.html
stylesheet: pages/docs.css
colorList:
  - neutral
  - primary
  - secondary
colorSteps:
  - 50
  - 100
  - 200
  - 300
  - 400
  - 500
  - 600
  - 700
  - 800
  - 900
themeList:
  - light
  - dark
  - high-contrast light
  - high-contrast dark
  - low-contrast light
  - low-contrast dark
  - primary light
  - primary dark
  - secondary light
  - secondary dark
demoSections:
  - Typography
  - Colors
  - Buttons
  - Forms
  - Grid
  - Themes
---

<header class="sticky top-0 z-5 grid pt-sm pb-sm">
  <nav class="flex span-12 gap-xs align-items-center">
    <div class="docs-nav-group flex gap-xs">
      <a class="button --point-left --subtle --primary radius-xl shadow-md" href="/"><span class="sr-only">back</span></a>
      <details-menu>
        <details class="relative">
          <summary class="button --primary radius-xl shadow-md">On this page</summary>
          <ul class="absolute unlisted mt-xs flex column gap-xs">
            {% for item in demoSections %}
              <li>
                <a href="#{{ item | slugify }}" class="button --subtle --primary radius-xl shadow-md">
                  {{ item }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </details>
      </details-menu>
    </div>
  </nav>
</header>

{% for item in demoSections %}
  {% capture includePath %}docs/{{ item | slugify }}.html{% endcapture %}
  <h2 class="span-12 mt-xl pt-md mb-md border-top">{{ item }}</h2>
  {% render includePath colorList: colorList, colorSteps: colorSteps, themeList: themeList  %}
{% endfor %}
