---
title: Kitchen sink
description: All of the default elements in Grease.
layout: page.html
stylesheet: pages/docs.css
colorList:
  - "neutral"
  - "primary"
  - "secondary"
colorSteps:
  - 50
  - 100
  - 200
  - 300
  - 400
  - 500
  - 600
  - 700
  - 800
  - 900
themeList:
  - "light"
  - "dark"
  - "high-contrast light"
  - "high-contrast dark"
  - "low-contrast light"
  - "low-contrast dark"
  - "primary light"
  - "primary dark"
  - "secondary light"
  - "secondary dark"
demoSections:
  - "Typography"
  - "Colors"
  - "Forms"
  - "Grid"
  - "Themes"
---

{% render 'docs/header.html' class: "primary set-bg" %}
<nav class="primary sticky top-0 z-5 grid pt-sm pb-sm set-bg color --bg --use-bg-dark">
  <details-menu>
    <details class="span-12">
      <summary class="color --text --use-accent">On this page</summary>
      <ul class="unlisted border-top mt-sm pt-sm">
        {% for item in demoSections %}
          <li>
            <a href="#{{ item | slugify }}" class="button --text-only --primary">
              {{ item }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </details>
  </details-menu>
</nav>

{% for item in demoSections %}
  {% capture includePath %}docs/{{ item | slugify }}.html{% endcapture %}
  <h2 class="span-12 mt-xl pt-md mb-md border-top">{{ item }}</h2>
  {% render includePath colorList: colorList, colorSteps: colorSteps, themeList: themeList  %}
{% endfor %}
