/* ----------------------------------------------------------------------------
styles for /docs
---------------------------------------------------------------------------- */

.docs-grid-demo p {
  padding: 0.25em 0.5em;
  color: var(--color-sheet);
  background-color: var(--color-text);
}

.docs-inverted {
  padding: var(--space-l) 0;
  color: var(--color-sheet);
  background-color: var(--color-text);
}

.docs-box {
  display: block;
  height: 10em;
  margin: var(--space-m) 0;
  background-color: var(--color-text);
}

.docs-space-demo {
  min-height: 2em;
  margin: var(--space-m) 0;
  padding: 0;
  border: 0.1rem solid var(--color-text);

  & p {
    padding: var(--space-xs);
    color: var(--color-sheet);
    background-color: var(--color-text);
  }
}
