/* ----------------------------------------------------------------------------
border: adjust border appearance
---------------------------------------------------------------------------- */

.radius-0 {
	border-radius: var(--border-radius-0);
}
.radius-sm {
	border-radius: var(--border-radius-sm);
}
.radius-md {
	border-radius: var(--border-radius-md);
}
.radius-lg {
	border-radius: var(--border-radius-lg);
}
.radius-xl {
	border-radius: var(--border-radius-xl);
}
.radius-full {
	border-radius: 100%;
}
.border-0 {
	border: none;
}

.border {
	border: var(--border-width-sm) solid var(--color-border);
}

.border-glint {
	border: var(--border-width-sm) solid
		oklch(from var(--color-border) l c h / 50%);
}

.border-top {
	border-block-start: var(--border-width-sm) solid var(--color-border);
}

.border-bottom {
	border-block-end: var(--border-width-sm) solid var(--color-border);
}

.border-left {
	border-inline-start: var(--border-width-sm) solid var(--color-border);
}

.border-right {
	border-inline-end: var(--border-width-sm) solid var(--color-border);
}

@media (--md) {
	.border\@md {
		border: var(--border-width-sm) solid var(--color-border);
	}

	.border-top\@md {
		border-block-start: var(--border-width-sm) solid var(--color-border);
	}

	.border-bottom\@md {
		border-block-end: var(--border-width-sm) solid var(--color-border);
	}

	.border-left\@md {
		border-inline-start: var(--border-width-sm) solid var(--color-border);
	}

	.border-right\@md {
		border-inline-end: var(--border-width-sm) solid var(--color-border);
	}
}

.border-weight-sm {
	border-width: var(--border-width-sm);
}

.border-weight-md {
	border-width: var(--border-width-md);
}

.border-weight-lg {
	border-width: var(--border-width-lg);
}
