/* ----------------------------------------------------------------------------
display: manipulate the visual display of elements
---------------------------------------------------------------------------- */

.block { display: block; }
.inline { display: inline; }
.hidden { display: none !important; }
.contents { display: contents; }
.clipped { overflow: hidden; }

@media (--sm) {
  .block\@sm { display: block; }
  .inline\@sm { display: inline; }
  .hidden\@sm { display: none !important; }
}

@media (--md) {
  .block\@md { display: block; }
  .inline\@md { display: inline; }
  .hidden\@md { display: none !important; }
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}