.text-90 { color: oklch(from var(--color-text) l c h / 90%);}
.text-80 { color: oklch(from var(--color-text) l c h / 80%); }
.text-70 { color: oklch(from var(--color-text) l c h / 70%); }
.text-60 { color: oklch(from var(--color-text) l c h / 60%); }
.text-50 { color: oklch(from var(--color-text) l c h / 50%); }
.text-40 { color: oklch(from var(--color-text) l c h / 40%); }
.text-30 { color: oklch(from var(--color-text) l c h / 30%); }
.text-20 { color: oklch(from var(--color-text) l c h / 20%); }
.text-10 { color: oklch(from var(--color-text) l c h / 10%); }

.bg-90 { background-color: oklch(from var(--color-bg) l c h / 90%);}
.bg-80 { background-color: oklch(from var(--color-bg) l c h / 80%); }
.bg-70 { background-color: oklch(from var(--color-bg) l c h / 70%); }
.bg-60 { background-color: oklch(from var(--color-bg) l c h / 60%); }
.bg-50 { background-color: oklch(from var(--color-bg) l c h / 50%); }
.bg-40 { background-color: oklch(from var(--color-bg) l c h / 40%); }
.bg-30 { background-color: oklch(from var(--color-bg) l c h / 30%); }
.bg-20 { background-color: oklch(from var(--color-bg) l c h / 20%); }
.bg-10 { background-color: oklch(from var(--color-bg) l c h / 10%); }

.border-90 { border-color: oklch(from var(--color-text) l c h / 90%);}
.border-80 { border-color: oklch(from var(--color-text) l c h / 80%); }
.border-70 { border-color: oklch(from var(--color-text) l c h / 70%); }
.border-60 { border-color: oklch(from var(--color-text) l c h / 60%); }
.border-50 { border-color: oklch(from var(--color-text) l c h / 50%); }
.border-40 { border-color: oklch(from var(--color-text) l c h / 40%); }
.border-30 { border-color: oklch(from var(--color-text) l c h / 30%); }
.border-20 { border-color: oklch(from var(--color-text) l c h / 20%); }
.border-10 { border-color: oklch(from var(--color-text) l c h / 10%); }

.blend-difference { mix-blend-mode: difference; }
.blend-multiply { mix-blend-mode: multiply; }
