/* ----------------------------------------------------------------------------
text: decouple semantics from presentation
---------------------------------------------------------------------------- */

.size-xxxs { font-size: var(--size-xxxs); }
.size-xxs { font-size: var(--size-xxs); }
.size-xs { font-size: var(--size-xs); }
.size-sm { font-size: var(--size-sm); }
.size-md { font-size: var(--size-md); }
.size-lg { font-size: var(--size-lg); }
.size-xl { font-size: var(--size-xl); }
.size-xxl { font-size: var(--size-xxl); }
.size-xxxl { font-size: var(--size-xxxl); }
.size-xxxxl { font-size: var(--size-xxxxl); }

.weight-200 { font-weight: 200; }
.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 600; }
.weight-700 { font-weight: 700; }
.weight-800 { font-weight: 800; }

.left { text-align: start; }
.right { text-align: end; }

.center {
  text-align: center;
  margin-inline: auto;
}

.measure-xs { max-width: var(--measure-xs); }
.measure-sm { max-width: var(--measure-sm); }
.measure-md { max-width: var(--measure-md); }
.measure-lg { max-width: var(--measure-lg); }
.measure-xl { max-width: var(--measure-xl); }

.leading-flush { line-height: var(--leading-flush); }
.leading-xxs { line-height: var(--leading-xxs); }
.leading-xs { line-height: var(--leading-xs); }
.leading-sm { line-height: var(--leading-sm); }
.leading-md { line-height: var(--leading-md); }
.leading-lg { line-height: var(--leading-lg); }

.tracking-sm { letter-spacing: var(--tracking-sm); }
.tracking-md { letter-spacing: var(--tracking-md); }
.tracking-lg { letter-spacing: var(--tracking-lg); }
.tracking-xl { letter-spacing: var(--tracking-xl); }

.balance { text-wrap: balance; }
.italic { font-style: italic; }
.undecorated { text-decoration: none; }
.unlisted { list-style-type: none; }
.uppercase { text-transform: uppercase; }

@media (--md) {
  .size-xxxs\@md { font-size: var(--size-xxxs); }
  .size-xxs\@md { font-size: var(--size-xxs); }
  .size-xs\@md { font-size: var(--size-xs); }
  .size-sm\@md { font-size: var(--size-sm); }
  .size-md\@md { font-size: var(--size-md); }
  .size-lg\@md { font-size: var(--size-lg); }
  .size-xl\@md { font-size: var(--size-xl); }
  .size-xxl\@md { font-size: var(--size-xxl); }
  .size-xxxl\@md { font-size: var(--size-xxxl); }
  .size-xxxxl\@md { font-size: var(--size-xxxxl); }

  .left\@md { text-align: start; }
  .right\@md { text-align: end; }
  .center\@md { text-align: center; }
}
