/* ----------------------------------------------------------------------------
styles for /docs
---------------------------------------------------------------------------- */

.docs-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-m);
  list-style-type: none;

  & li {
    margin: 0;
  }

  & a {
    display: block;
    aspect-ratio: 4 / 3;
    padding: var(--space-s);
    color: var(--color-text);
    text-decoration: none;
    border: var(--border-weight-s) solid var(--color-text);
  }
}

.docs-grid-demo p {
  padding: 0.25em 0.5em;
  color: var(--color-sheet);
  background-color: var(--color-text);
}

.docs-inverted {
  padding: var(--space-l) 0;
  color: var(--color-sheet);
  background-color: var(--color-text);
}

.docs-box {
  display: block;
  height: 10em;
  margin: 0 0 var(--space-l) 0;
  background-color: hsl(var(--color-text-hsl) / 10%);
  box-shadow: var(--shadow-l);
  border: var(--border-weight-s) solid var(--color-accent);
}

.docs-space-demo {
  min-height: 2em;
  margin: var(--space-m) 0;
  padding: 0;
  border: 0.1rem solid var(--color-text);

  & p {
    padding: var(--space-xs);
    color: var(--color-sheet);
    background-color: var(--color-text);
  }
}
