@import "../_base/@media.css";

@layer components {
  .hero {
    --font-weight: 800;
    --color-text: var(--color-sheet);
    
    display: grid;
    position: relative;
    inset-inline-start: -1rem;
    letter-spacing: var(--tracking-md);
    font-size: min(26vw, 18em);
    filter: blur(0.5rem);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4rem hsl(var(--color-accent) / 20%);
    
    @media (--md) {
      display: grid;
      inset-inline-start: -2rem;
    }
    
    & > * {
      grid-area: 1 / 1 / -1 / -1;
    }
  }
  
  .grease-marks {
    width: 100%;
    rotate: 15deg;
    pointer-events: none;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));
    z-index: -1;
    inset-block-start: -32rem;

    @media (--md) {
      inset-block-start: 0;
    }
    
    & > * {
      width: 10rem;
      height: 10rem;
      background-color: hsl(var(--color-text) / var(--opacity-sheet));
      border-radius: 100%;
      mix-blend-mode: exclusion;
      filter: blur(1rem);
      
      @media (--dark) {
        background-color: hsl(var(--color-accent) / var(--opacity-sheet));
      }
    }
    
    & > .shape-1 {
      filter: blur(2rem);
      background-color: hsl(var(--color-accent) / var(--opacity-sheet));
    }
  }
}
