@import "../_base/@media.css";

@layer components {
  .hero {
    --font-weight: 800;
    
    position: relative;
    margin-block: var(--space-xxl) 0;
    font-size: min(18vw, 10em);
    line-height: 1;
    border-block-end: var(--border-weight-md) solid var(--color-text);
    mix-blend-mode: difference;

    @media (--dark) {
      mix-blend-mode: normal;
    }

    @media (--md) {
      margin-block: var(--space-xxl) var(--space-xl);
    }
  }
  
  .grease-marks {
    width: 100%;
    rotate: 10deg;
    pointer-events: none;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
    z-index: -1;
    inset-block-start: -40rem;
    inset-inline-end: 0;

    @media (--md) {
      inset-block-start: 0rem;
      inset-inline-end: -30rem;
    }
    
    & > * {
      width: 5rem;
      height: 5rem;
      background-color: var(--color-text);
      border-radius: 100%;      
      filter: blur(1rem);
      
      @media (--dark) {
        background-color: var(--color-bg);
      }
      
    }

    & > .shape-1 {
      filter: blur(2rem);
      background-color: var(--color-accent);
    }
  }
}

.demo-grid {
  > div {
    padding: var(--space-sm);
    color: var(--color-text);
    background-color: oklch(from var(--color-accent) l c h / 10%);
    margin-block: var(--space-sm);
    font-size: var(--size-sm);
  }
}
