/* ----------------------------------------------------------------------------
custom media queries
---------------------------------------------------------------------------- */
@custom-media --viewport-small (max-width: 44.9em);
@custom-media --viewport-medium (min-width: 45em);
@custom-media --viewport-large (min-width: 90em);
@custom-media --viewport-retina (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);

/* ----------------------------------------------------------------------------
custom properties
---------------------------------------------------------------------------- */
:root {
  /* colors */
  --color-white: #fff;
  --color-black: #191919;
  --color-grey: #263340;
  --color-teal: #5fddc5;

  /* semantic colors */
  --color-text: var(--color-black);
  --color-sheet: var(--color-white);
  --color-neutral: var(--color-grey);
  --color-link: var(--color-white);
  --color-accent: var(--color-teal);

  /* spacing */
  --space-base: 1.6rem;
  --space-scale: 2;
  --space-xxs: calc(var(--space-xs) / var(--space-scale));
  --space-xs: calc(var(--space-s) / var(--space-scale));
  --space-s: calc(var(--space-m) / var(--space-scale));
  --space-m: var(--space-base);
  --space-l: calc(var(--space-m) * var(--space-scale));
  --space-xl: calc(var(--space-l) * var(--space-scale));
  --space-xxl: calc(var(--space-xl) * var(--space-scale));

  /* font stacks */
  --font-main: 'Inter', 'Helvetica Neue', helvetica, 'Apple Color Emoji', arial, sans-serif;

  /* type sizes */
  --type-base: max(1.6em, min(calc(0.5em + 1vw), 2.4em));
  --type-scale-s: 1.1;
  --type-scale-l: 1.3;

  @media (--viewport-medium) {
    --type-scale-l: 1.45;
  }

  --type-xxxs: calc(var(--type-xxs) / var(--type-scale-s));
  --type-xxs: calc(var(--type-xs) / var(--type-scale-s));
  --type-xs: calc(var(--type-s) / var(--type-scale-s));
  --type-s: calc(var(--type-m) / var(--type-scale-s));
  --type-m: 1em;
  --type-l: calc(var(--type-m) * var(--type-scale-l));
  --type-xl: calc(var(--type-l) * var(--type-scale-l));
  --type-xxl: calc(var(--type-xl) * var(--type-scale-l));
  --type-xxxl: calc(var(--type-xxl) * var(--type-scale-l));
  --type-xxxxl: calc(var(--type-xxxl) * var(--type-scale-l));

  /* line heights */
  --leading-base: 1.1;
  --leading-scale: 1.25;
  --leading-s: var(--leading-base);
  --leading-m: calc(var(--leading-s) * var(--leading-scale));
  --leading-l: calc(var(--leading-m) * var(--leading-scale));
}
