/* ----------------------------------------------------------------------------
element styles
---------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection,
::-moz-selection {
  color: var(--color-sheet);
  background-color: var(--color-text);
}

html {
  font-size: 10px;
  background-color: var(--color-sheet);
  min-height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-main);
  font-size: var(--type-base);
  line-height: var(--leading-l);
  color: var(--color-text);
  background-color: var(--color-sheet);

  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}

h1 {
  margin: max(var(--space-xl), 20vmin) 0 var(--space-m) 0;
  font-size: var(--type-xxxl);
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: var(--leading-s);
  transition: font-weight 0.2s ease;
}

h2 {
  margin: var(--space-xl) 0 var(--space-m) 0;
  font-size: var(--type-xl);
  font-weight: 800;
  line-height: var(--leading-s);
}

h3 {
  margin: var(--space-l) 0 var(--space-s) 0;
  font-size: var(--type-l);
  font-weight: 700;
}

h4,
h5,
h6 {
  margin: var(--space-m) 0 0 0;
  font-size: var(--type-m);
  font-weight: 600;
}

p,
ul,
ol,
dl {
  margin: var(--space-s) 0;
  font-weight: 350;
}

ul {
  list-style-position: outside;
  list-style-type: square;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

li {
  position: relative;

  & + li {
    margin: var(--space-xs) 0 0 0;
  }
}

li ul,
li ol {
  margin-left: 1.25em;
  font-size: var(--type-m);
}

b,
strong {
  font-weight: 800;
}

i,
em {
  font-style: italic;
}

small {
  font-size: var(--type-s);
}

a,
a:visited {
  color: var(--color-text);
  text-decoration-thickness: 0.1em;
  transition: text-decoration-thickness 0.1s ease;
}

a:hover {
  text-decoration-thickness: 0.2em;
}

code {
  margin-right: 0.1rem;
  padding: 0.15em 0.25em;
  color: var(--color-text);
  background-color: var(--color-sheet);
  border: 0.1rem solid var(--color-text);
  box-shadow: 0.1rem 0.1rem 0 var(--color-text);
}

blockquote {
  position: relative;
  margin: var(--space-l) 0;
  quotes: "\201C""\201D""\2018""\2019";
  text-transform: uppercase;
  font-size: var(--type-m);
  letter-spacing: 0.1em;
  font-weight: 200;
  font-style: italic;
}

img,
embed,
object,
svg,
video {
  max-width: 100%;
  height: auto;
}

hr {
  width: 100%;
  margin: var(--space-xl) 0;
  border: 0;
  border-top: 0.1rem solid var(--color-text);
}
