/* ----------------------------------------------------------------------------
element styles
---------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsl(var(--color-text-hsl) / var(--color-alpha));
  background-color: hsl(var(--color-sheet) / var(--color-sheet-alpha));
}

::selection {
  color: var(--color-sheet);
  background-color: var(--color-text);
}

html {
  font-size: 10px;
  min-height: 100dvh;
  background-color: var(--color-sheet);
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100dvh;
  overflow-x: clip;
  font-family: var(--text-main);
  font-size: var(--text-base);
  line-height: var(--text-leading-fluid);
  background-color: var(--color-sheet);
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, pre, blockquote) {
  line-height: var(--text-leading-fluid);
}

h1 {
  margin: var(--space-xl) 0 var(--space-m) 0;
  font-size: var(--text-xxl);
  font-weight: 300;
  letter-spacing: var(--text-spacing-s);
}

h2 {
  margin: var(--space-xl) 0 var(--space-m) 0;
  font-size: var(--text-xl);
  font-weight: 800;
}

h3 {
  margin: var(--space-l) 0 0 0;
  font-size: var(--text-l);
  font-weight: 700;
}

:where(h4, h5, h6) {
  margin: var(--space-m) 0 0 0;
  font-size: var(--text-m);
  font-weight: 600;
}

:where(p, ul, ol, dl) {
  margin: 0 0 var(--space-l) 0;
  font-weight: var(--text-weight-base);
}

ul {
  list-style-position: outside;
  list-style-type: square;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

li {
  position: relative;

  &:where(li + li) {
    margin: var(--space-xs) 0 0 0;
  }

  & :where(ul, ol) {
    margin-left: var(--space-m);
    font-size: var(--text-m);
  }
}

b,
strong {
  font-weight: 800;
}

i,
em {
  font-style: italic;
}

small {
  font-size: var(--text-s);
}

a,
a:visited {
  /* color: var(--color-text); */
  text-decoration-thickness: var(--border-weight-s);
  transition: text-decoration-thickness 0.1s ease;
}

a:hover {
  text-decoration-thickness: var(--border-weight-m);
}

code {
  --color-sheet: var(--color-glint);
  --color-sheet-alpha: 10%;

  font-family: var(--text-main);
  padding: 0 var(--space-xs) var(--space-xxs) var(--space-xxs);
  border-radius: var(--border-radius-m);
}

blockquote {
  margin: var(--space-l) 0;
  font-size: var(--text-m);
  font-style: italic;
}

:where(img, embed, object, svg, video) {
  max-width: 100%;
  height: auto;
  line-height: var(--text-leading-fluid);
}

hr {
  width: 100%;
  margin: var(--space-xl) 0;
  border: 0;
  border-top: var(--border-weight-s) solid var(--color-text);
}
